[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
fastapi-cache2 = "*"
urllib3 = "*"
readtime = "*"
pypdf = "*"

[dev-packages]

[requires]
python_version = "3.10"
